<footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- <script src="/js/jquery-slim.min.js"></script> -->
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
</body>

</html>